<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189650921575-rlc86rodv42n5u6t9gjprcl4okladuvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189650921575-rlc86rodv42n5u6t9gjprcl4okladuvo</string>
	<key>API_KEY</key>
	<string>AIzaSyDitrpE4-sYbaXm3I-NizloDEnl6jxOpDU</string>
	<key>GCM_SENDER_ID</key>
	<string>189650921575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.releese</string>
	<key>PROJECT_ID</key>
	<string>releese-b0d86</string>
	<key>STORAGE_BUCKET</key>
	<string>releese-b0d86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189650921575:ios:9ae71230d8576a22ce8cc2</string>
</dict>
</plist>